:root {
  --primary-color: #ffd252;
  /* --secondary-color: #404058; */
  --secondary-color: #4a577b;
  --dark-color: #232323;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background-color: #232323;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

p {
  margin-bottom: 1rem;
  max-width: 60ch;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 250ms ease, border-bottom-color 250ms ease;
}

a:hover {
  color: var(--primary-color)
}

.container {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
}

section {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #fff;
}

.section-title {
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  font-size: 2.5rem;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.logo-container {
  position: absolute;
  content: "";
  top: 50vh;
  left:50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: relocate 0.7s ease-out forwards 3.5s;
  /* z-index: 2; */
}

#logo {
 animation: shadow 2.5s ease-out forwards 1.8s;
}

#logo path {
  stroke-dasharray: 2135px;
  stroke-dashoffset: 2135px;
  fill: transparent;
  stroke: #fff;
  /* animation: logoFill 500ms ease forwards 2s; */
  animation: stroke-animation 2s ease forwards, logoFill 1s ease forwards 1.8s;
}

@keyframes stroke-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes logoFill {
  from {
    fill: transparent;
  }

  to {
    fill: #fff;
  }
}

@keyframes shadow {
  0% { filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0)); }
  50% { filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.5)); }
  /* 60% { filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.5)); } */
  /* 80% { filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.2)); } */
  100% { filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0)); }
}

@keyframes relocate {
  to { width: 156px; top: 0; left: 0; transform: translate(0, 0); }
  /* to { opacity: 0 } */
}

.has-loaded {
  opacity: 0;
  animation: reveal 1s ease forwards 3.6s;
}

@keyframes reveal {
  to {
    opacity: 1;
  }
}

/* ====== */
/* HEADER */
/* ====== */

header {
  height: 74px;
  width: 100%;
  position: fixed;
  background-color: #232323;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #434343;
}

header .logo {
  width: 156px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

header .logo path {
  stroke: #fff;
  fill: #fff
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0 1rem;
}

header nav ul li {
  padding: 0 1rem;
}

/* ========== */
/* MAIN TITLE */
/* ========== */

.main-title {
  padding-top: 120px;
  padding-bottom: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.main-title h1, .main-title h2 {
  line-height: 1;
}

.main-title h1 {
  /* font-size: 3rem; */
  margin-bottom: 2rem;
}

.main-title .underline {
  width: 50%;
  height: 3px;
  background-color: #fff;
}

/* ===== */
/* ABOUT */
/* ===== */

.about {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  scroll-margin-top: 80px;
}

.about-text {
  max-width: 60ch;
}

.about span {
  font-weight: 600;
}

.about-image {
  height: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding-top: 2rem;
}

.about-image img {
  max-width: 100%;
}

/* ======== */
/* PROJECTS */
/* ======== */

.projects {
  color: #fff;
  scroll-margin-top: 80px;
}

.project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.project-info {
  max-width: 60ch
}

.project-info h3 {
  margin-bottom: 1rem;
}

.project-info span {
  font-weight: 600;
  color: var(--primary-color);
}

.project-link {
  display: inline-block;
  border-bottom: 2px solid #fff;
  padding: 0 0.5em 0.25em 0;
}

.project-link:hover {
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}

/* .project-link:hover a {
  color: var(--primary-color);
} */

.project-image {
  width: 100%; 
}

.project-image img {
  max-width: 100%;
  box-shadow: -8px 8px 0 var(--secondary-color);
  /* box-shadow: -8px 8px 0 #fff; */
}

/* ======= */
/* CONTACT */
/* ======= */

.contact {
  font-size: 1.5rem; 
  /* padding: 4rem 0 !important; */
  background: url(img/contact-bg-6.png) center right/contain no-repeat;
  scroll-margin-top: 80px;
}

.contact p {
  max-width: 60%;
  text-shadow: 0 2px 5px rgb(0 0 0 / 50%);
}

.contact .email {
  display: inline-block;
  margin: 2rem 0;
  padding: 0.25em 1.5em;
  border: 3px solid #fff;
  transition: color 250ms ease, border-color 250ms ease;
  text-shadow: 0 2px 5px rgb(0 0 0 / 50%);
  box-shadow: 0 2px 5px rgb(0 0 0 / 50%);
}

.email:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.contact-icons {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-shadow: 0 2px 5px rgb(0 0 0 / 50%);
}

.contact-icons a {
  transition: color 250ms ease;
}

.contact-icons a:hover {
  color: var(--primary-color);
}

.contact-icons div {
  padding: 10px;
}