:root {
  --primary-color: #ffd252;
  /* --secondary-color: #404058; */
  --secondary-color: #4a577b;
  --dark-color: #232323;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background-color: #232323;
  position: relative;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

p {
  margin-bottom: 1rem;
  max-width: 60ch;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 250ms ease, border-bottom-color 250ms ease;
}

a:hover {
  color: var(--primary-color)
}

.container {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
}

section {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #fff;
}

.section-title {
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  font-size: 2.5rem;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  animation: has-loaded 0.5s ease-out forwards 4s
}

.logo-container {
  position: absolute;
  content: "";
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  padding: 1rem 2rem;
  animation: relocate 0.7s ease-out forwards 3.5s;
  /* z-index: 2; */
}

#logo {
 animation: shadow 2.5s ease-out forwards 1.8s;
}

#logo path {
  stroke-dasharray: 2135px;
  stroke-dashoffset: 2135px;
  fill: transparent;
  stroke: #fff;
  /* animation: logoFill 500ms ease forwards 2s; */
  animation: stroke-animation 2s ease forwards, logoFill 1s ease forwards 1.8s;
}



.has-loaded {
  opacity: 0;
  animation: reveal 1s ease forwards 3.6s;
}

/* ====== */
/* HEADER */
/* ====== */

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 74px;
  width: 100%;
  background-color: #232323;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #434343;
  z-index: 10;
}

header .logo {
  width: 156px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

header .logo path {
  stroke: #fff;
  fill: #fff
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0 1rem;
}

header nav ul li {
  padding: 0 1rem;
}

/* ========== */
/* MAIN TITLE */
/* ========== */

.main-title {
  padding-top: 120px;
  padding-bottom: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.main-title h1, .main-title h2 {
  line-height: 1;
}

.main-title h1 {
  /* font-size: 3rem; */
  margin-bottom: 2rem;
}

.main-title .underline {
  width: 50%;
  height: 3px;
  background-color: #fff;
}

/* ===== */
/* ABOUT */
/* ===== */

.about {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  scroll-margin-top: 60px;
}

.about-text {
  max-width: 60ch;
}

.about span {
  font-weight: 600;
}

.about-image {
  height: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding-top: 2rem;
  border-radius: 50%;
}

.about-image img {
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid #fff;
}

/* ======= */
/* TOOLBOX */
/* ======= */

.toolbox-thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;

}

.toolbox-thumbnail {
  height: 100px;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}

.toolbox-thumbnail img {
  height: 100%;
  width: auto;
  margin: 0 auto;
  transition: all 250ms ease;
}

.toolbox-thumbnail:hover img {
  transform: scale(0.8) translateY(10px);
}

.toolbox-thumbnail-title {
  position: relative;
  /* margin: 0 auto; */
  z-index: 2;
  top: 0;
  left: 50%;
  /* visibility: hidden; */
  text-align: center;
  color: transparent;
  transform: translateY(15px) translateX(-50%) scale(0.8);
  transition: all 250ms ease;
}

.toolbox-thumbnail:hover .toolbox-thumbnail-title {
  color: #fff;
  transform: translateY(12px) translateX(-50%) scale(1);  
}

/* ======== */
/* PROJECTS */
/* ======== */

.projects {
  color: #fff;
  scroll-margin-top: 60px;
}

.project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.project-info {
  max-width: 60ch
}

.project-info h3 {
  margin-bottom: 1rem;
}

.project-info span {
  font-weight: 600;
  color: var(--primary-color);
}

.project-link {
  display: inline-block;
  /* border-bottom: 2px solid #fff; */
  padding: 0 0.5em 0.5em 0;
}

.project-link:hover {
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}

.project-link-underline {
  height: 3px;
  width: 1em;
  background-color: #fff;
  transition: all 250ms ease-out;
}

.project-link:hover .project-link-underline {
  width: 5em;
  background-color: var(--primary-color);
}

.project-image {
  width: 100%; 
  position: relative;
}

.project-number {
  position: absolute;
  color: rgba(74, 87, 123, 0.2);
  font-size: 6rem;
  font-weight: 700;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 250ms ease-out;
}

.project-image img {
  max-width: 100%;
  /* box-shadow: -8px 8px 0 var(--secondary-color); */
  box-shadow: -0px 0px 0 var(--secondary-color);
  transition: all 250ms ease-out;

}

.project-image:hover img {
  box-shadow: -8px 8px 0 var(--secondary-color);
}

.project-image:hover .project-number {
  top: -4.5rem;
  left: -2.5rem;
}

/* ======= */
/* CONTACT */
/* ======= */

.contact {
  font-size: 1.5rem; 
  /* padding: 4rem 0 !important; */
  background: url(img/contact-bg-6.png) center right/contain no-repeat;
  scroll-margin-top: 60px;
}

.contact p {
  max-width: 60%;
  text-shadow: 0 2px 5px rgb(0 0 0 / 50%);
}

.contact .email {
  display: inline-block;
  margin: 2rem 0;
  padding: 0.25em 1.5em;
  border: 3px solid #fff;
  transition: color 250ms ease, border-color 250ms ease;
  text-shadow: 0 2px 5px rgb(0 0 0 / 50%);
  box-shadow: 0 2px 5px rgb(0 0 0 / 50%);
}

.email:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.contact-icons {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-shadow: 0 2px 5px rgb(0 0 0 / 50%);
}

.contact-icons a {
  transition: color 250ms ease;
}

.contact-icons a:hover {
  color: var(--primary-color);
}

.contact-icons div {
  padding: 10px;
}



/* ========== */
/* ANIMATIONS */
/* ========== */

@keyframes stroke-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes logoFill {
  from {
    fill: transparent;
  }

  to {
    fill: #fff;
  }
}

@keyframes shadow {
  0% { filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0)); }
  50% { filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.5)); }
  /* 60% { filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.5)); } */
  /* 80% { filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.2)); } */
  100% { filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0)); }
}

@keyframes relocate {
  to { width: 156px; top: 0; left: 0; transform: translate(0, 0); }
  to { display: none; }
}

@keyframes has-loaded {
  to {
    display: none;
  }
}

@keyframes reveal {
  to {
    opacity: 1;
  }
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

@media (max-width: 1025px) {

  p { font-size: 1.1rem; }
  .main-title { font-size: 1.8rem; padding-bottom: 1.5rem; }
  .main-title h1 { margin-bottom: 1.5rem; }
  .section-title { font-size: 2.2rem; margin-bottom: 1.2rem; }
  .toolbox-thumbnails { justify-items: center; grid-template-columns: repeat(auto-fit, minmax(90px, 1fr)); }
  .toolbox-thumbnail { height: 80px; }
  .project-image img { box-shadow: -8px 8px 0 var(--secondary-color); }
  .project-number { top: -4.5rem; left: -2.5rem; }
  .contact { background-position-x: 30vw; }

}

@media (max-width: 767px) {

  .about, .projects, .contact { scroll-margin-top: 40px; }
  .container { padding: 2rem 1.5rem; }
  header { height: 60px; }
  header nav { font-size: 0.8rem; }
  header nav ul li { padding: 0 0.5rem; }
  header .logo { width: 110px; padding: 1rem;}
  .main-title { padding-top: 100px; padding-bottom: 1rem; }
  .main-title h2 { font-size: 1.6rem; }
  .main-title h1 { font-size: 2.5rem; }
  .about { grid-template-columns: 1fr; }
  .about-image { grid-row: 1 / 2; padding-top: 0; }
  .project { grid-template-columns: 1fr; padding-top: 3rem; }
  .project-image img { box-shadow: -8px 8px 0 var(--secondary-color); }
  .project-number { top: -4.5rem; left: -2.5rem; }
  .contact { background-size: cover; }
  .contact p { max-width: 100%; }
  .contact-email { font-size: 1rem; display: flex; justify-content: center; }
  .contact .email { margin: 1.5rem; }
  .contact-icons { justify-content: center; }
  
}
